appdirs==1.4.3
attrs==16.3.0
autobahn==0.18.2
Automat==0.5.0
beautifulsoup4==4.5.3
bs4==0.0.1
constantly==15.1.0
incremental==16.10.1
lxml==3.7.3
packaging==16.8
pafy==0.5.3.1
pyparsing==2.2.0
python-vlc==1.1.2
six==1.10.0
tornado==4.5.1
Twisted==17.1.0
txaio==2.7.0
youtube-dl==2017.4.26
zope.interface==4.4.0
